<!DOCTYPE html>
<html ng-app="todoApp">
<head>
	<title>ng-todos</title>
    <link rel="stylesheet" href="css/main.css">
	<script type="text/javascript" src="https://code.angularjs.org/1.4.9/angular.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/todosController.js"></script>
</head>
<body>
    <h1>Todos App</h1>
    <div ng-controller="TodosController as todosCtrl" >
        <h3>You have {{todosCtrl.all.length}} todos left to do</h3>
        <form id='add-todo' ng-submit="todosCtrl.add()">
            <input type="text" placeholder="i need to ...." ng-model="todosCtrl.newTodo.task" />
        </form>
        <p ng-if="todosCtrl.newTodo.task.length < 5">Your todo must have at least 5 characters {{ todosCtrl.newTodo.task}}</p>
        <p ng-if="todosCtrl.newTodo.task.length >= 5">typing... {{ todosCtrl.newTodo.task}}</p>
        
        <div ng-repeat="todo in todosCtrl.all">
            <input type="checkbox" ng-model="todo.done" /><span ng-class="{strike:todo.done, complicated:todo.task.length>15 }">{{todo.task}}</span>
        </div>
           
    </div>
</body>
</html>